<div class="container my-5">
  <div class="row">
    <div class="col">
      <%= @recipe.title %></br>
      <%= @recipe.temperature %>℃</br>
      <%= @recipe.total_time %>分</br>
      <%= @recipe.low_temperature_cooking_time %>分
    </div>
    <%= form_with model: @review, url: recipe_reviews_path(recipe_id: @recipe.id), local: true do |f| %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.text_area :content, class: "textarea" %><br>
      <p class ="mb-1">評価</p>
      <div id="recipe_review" class ="mb-3"></div> 
      <%= f.submit "保存", class: "button mt-3" %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', function() {  //turbolinksをoffに
    $('#recipe_review').empty();
    let elem = document.querySelector('#recipe_review'); //recipe_reviewは設定したid
    let opt = { //opt(option)として以下を設定
      starOn: "<%= asset_path('star-on.png') %>", //('')内に先程imageフォルダに入れた星の画像へのパスと参照名を記載
      starOff: "<%= asset_path('star-off.png') %>", //app/assets/imagesを参照している状態
      starHalf: "<%= asset_path('star-half.png') %>", //仮にimages/rate_imagesフォルダを作成し、その中に画像を入れた場合は('rate_images/画像名')と記述
      scoreName: 'review[score]', ////登録するモデル名とカラム名を記述
      half: false,
    };
    raty(elem,opt);
  });
</script>